<div class="body">
    
        <div class="search-box">
            <!-- Title -->
            <h1 class="title" >Traveltrove</h1>
        
            <!-- Search Bar -->
            <div class="search-container">
                <input type="text" placeholder="                                 search">
                <button class="search-btn">
                    <img src="assets/search.png" alt="Search" >
                </button>
            </div>
        
            <!-- Dynamic Text Bar -->
            <div class="dynamic-text" id="dynamicText">Where do you want to go?</div>
        </div>
    
</div>


