<div class="body">
    <div class="search-box">
        <h1 class="title">Travel Trove</h1>
        <div class="container mt-3">


            <div class="search-container">
                <input type="text" class="form-control" 
                [(ngModel)]="textterm" 
                (input)="onSearch()"
                (focus)="showDropDown = suggestions.length > 0" 
                (blur)="showDropDown = false"
                placeholder="Search destination...">
            
                <button type="button" class="search-btn" (click)="search()">Search</button>
            </div>
            


            <!-- Suggestion Dropdown -->
            <!-- <div *ngIf="showDropDown && suggestions.length > 0" class="dropdown-container">
                <div class="dropdown-menu show">
                    <button *ngFor="let suggestion of suggestions; let i = index" 
                    class="dropdown-item d-flex align-items-center"
                    [class.active]="i === selectedIndex"
                    (mousedown)="selectSuggestion(suggestion)">
                        <span>{{ suggestion.title }}</span>
                    </button>
                </div>
            </div> -->

            <!-- Suggestion Dropdown -->
<div *ngIf="showDropDown && suggestions.length > 0" class="dropdown-container">
    <div class="dropdown-menu show">
        <div class="dropdown-inner">
            <button *ngFor="let suggestion of suggestions; let i = index" 
                class="dropdown-item d-flex align-items-center"
                [class.active]="i === selectedIndex"
                (mouseover)="setActiveIndex(i)"
                (mousedown)="selectSuggestion(suggestion)">
                <span>{{ suggestion.title }}</span>
            </button>
        </div>
    </div>
</div>


            <!-- Search Results
            <div *ngIf="filteredData.length > 0; else noResults">
                <div class="card-container">
                    <div class="card" *ngFor="let item of filteredData">
                        <img [src]="item.photos[0]" alt="Destination Image" class="card-img">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.summary }}</p>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- No Results Message -->
            <!-- <ng-template #noResults>
                <div *ngIf="textterm.trim() !== ''" class="text-danger text-center">
                    No Results Found
                </div>
            </ng-template> -->

        </div>
    </div>
</div>
